VITE_API_URL=http://localhost:3000
# DEV: https://dev.trigodourado.com
# HOMOLOG: https://homolog.web.trigodourado.com
# PROD: https://backoffice.souaurea.com
VITE_BACKOFFICE_URL=https://dev.trigodourado.com
